{% extends 'base.html' %}

{% block content %}

<div class="content">
    <div class="main-info">
        <div class="temp">17{{temp}} &#176;<span class="unit" ng-click="changeUnit()">C{{unit}}</span></div>
        <div class="city">Krasnodar{{city}}</div>
	    <div class="country">RU{{country}}</div>
    </div>

    <div class="extra-info">
        {% if current_user.is_anonymous %}
            <h1 class="mb-3">Hi!</h1>
            <h4>Register to set a comfortable temperature for you!</h4>
        {% else %}
            <h3>Hi, {{ current_user.username }}!</h3>
        {% endif %}
        
    </div>
</div>

{% endblock %}